@{
    ViewData["Title"] = "Enrolling";
}

@using AspStudio.Models;







<script type="text/javascript" src="@Url.Content("~/js/moment.js")"></script>




<script type="text/javascript" src="@Url.Content("~/js/calendar.min.js")"></script>
<!-- Calendar picker -->
<link href="@Url.Content("~/css/calendar.css")" rel="stylesheet" type="text/css" />


<style>

    #Encabezado {
        background-color: green;
        opacity: 0.90;
        padding: 5%;
        width: 100%;
    }

    #LetrasTituloEncabezado {
        position: relative;
        text-align: center;
        color: white;
        font-size: 26px;
    }

    #LetrasEncabezado {
        position: relative;
        text-align: left;
        color: white;
    }

    #contenido {
        align-items: center;
        width: 80%;
        position: relative;
        margin: 0px auto;
        padding: 0px 0px 100px 0px;
    }

    .imagenindex {
        height: 120px;
        margin-left: 30px;
        padding: 0px;
        position: relative;
    }

    .img {
        width: 220px;
        height: 220px;
        padding: 2%;
    }

        .img img {
            width: 100%;
        }



</style>




<div class="form-container">



    <div class="row">


        <div class="col-md-6">

            <section id="Encabezado">
                <div id="contenido">
                    <img class="imagenindex" src="~/img/LogoEcopetrolCuidemonos.JPG" align="left" alt="Cuidemonos">
                    <h1 id="LetrasTituloEncabezado">
                        <br>Ingreso a instalaciones de
                        <br>Ecopetrol S.A. y Grupo Empresarial
                    </h1>
                </div>
                <p id="LetrasEncabezado">
                    Ecopetrol S.A., identificada con NIT 8999990681 (“Ecopetrol"), está obligada a implementar medidas de prevención en salud y además debe tener control sobre el ingreso de personas a sus instalaciones y el cumplimiento de lineamientos HSE.
                </p>
                <p id="LetrasEncabezado">
                    Primero La Vida y por eso, en Ecopetrol cumplimos los deberes de control epidemiológico impuestos por el Estado (por ejemplo, los protocolos de bioseguridad y los reportes de control epidemiológico aplicables); cumplimos las reglas de HSE aplicables en nuestras instalaciones; y protegemos la salud de nuestros beneficiarios en salud, implementando medidas de promoción de la salud y prevención de la enfermedad. La tecnología es una aliada para reducir el contacto físico en el ingreso a instalaciones y apalancar los esfuerzos que en materia de HSE permiten proteger la vida. Por ejemplo, el uso de mecanismos de reconocimiento facial y control térmico protege a las personas que de otra forma deberían acercarse a tomar los datos y síntomas de cientos de visitantes. Ecopetrol es de todos para todos y por eso quien ingresa a las instalaciones no sólo protegen su salud, sino la de los demás. Por ello, deben cumplir con reglas de autocuidado que prevengan el contagio y aseguren el cumplimiento de reglas de HSE.
                </p>
                <p id="LetrasEncabezado">
                    Por favor diligencie el siguiente formulario para efectos de su ingreso a las instalaciones que habilite Ecopetrol y su grupo (las “Instalaciones”). <br>
                </p>
            </section>
            <br />





            @using (Html.BeginForm("IngresoEmployee", "Enrol", FormMethod.Post))
            {

                <table style="width: 100%">
                    <colgroup>
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 85%;">
                    </colgroup>



                    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
                    <tbody>
                        <tr>
                            <td>Tarjeta Ecopetrol :</td>
                            <td><input style="width:100%;" title="Número de su tarjeta de acceso a Ecopetrol" name="idlenel" id="idlenel" /></td>
                        </tr>
                        <tr>
                            <td>Nombre :</td>
                            <td><input style="width:100%;" title="Nombre completo" name="name" id="name" /></td>
                        </tr>
                        <tr>
                            <td>Apellidos :</td>
                            <td><input style="width:100%;" title="Apellidos completos" name="lastname" id="lastname" /></td>
                        </tr>

                        <tr>
                            <td>Tipo documento :</td>
                            <td>

                                <select name="tipdoc">
                                    <option value="" data-token=""> Tipo Documento </option>
                                    <div class="dropdown-menu" role="menu">
                                        @foreach (dynamic Tipodoc in ViewBag.tiposdoc)
                                        {
                                            <option value="@Tipodoc.codigo">@Tipodoc.descripcion</option>

                                        }
                                    </div>
                                </select>

                            </td>
                        </tr>

                        <tr>
                            <td>Documento :</td>
                            <td><input style="width:100%;" title="Número de documento de identidad" name="documento" id="documento" /></td>
                        </tr>
                    </tbody>
                </table>

                <br />

                <div>
                    @foreach (dynamic texto in ViewBag.textoEnr)
                    {
                        <p>@texto.Pregunta</p>
                        <p>@texto.Texto</p>
                        <p>
                            <input type="radio" name="bioseguridad" value="Si"> Si
                            <input type="radio" name="bioseguridad" value="No"> No
                        </p>
                    }
                </div>

                <br />

                <input type="submit" value="EnviarEmp" class="btn btn-block btn-primary" />

            }



            <p style="font-size:15px">
                Con el ánimo que pueda ingresar a través de mecanismo de reconocimiento facial y control térmico digital y sin contacto con nadie, por favor carga aquí la foto con las siguientes características:
                Nombrar la foto con su numero de registro o cédula.
            </p>

            <p style="font-size:12px">
                1.     En formato vertical, con buena iluminación, sin sombras ni flash activo<br />
                2.	A color con la máxima configuración de calidad de la cámara y sin retoques<br />
                3.	Fondo blanco sin objetos de fondo<br />
                4.	Mirar la cámara con los ojos abiertos sin accesorios (gorra, bufandas, gafas oscuras o reflectivas)<br />
                5.      No debe ser mayor a 1 año, si no tiene una disponible es muy fácil ubíquese en una pared blanca y pídale el favor a un familiar que se la tome teniendo en cuenta las recomendaciones del 1 al 4, en caso de que no tenga quien le tome la foto hágalo tipo selfie.<br />
                6.     El archivo no debe ser superior a 10MB ni inferior a 500KB.
            </p>

            <form enctype="multipart/form-data" id="formuploadajax" method="post">
                <div>
                    <label for="image1">Foto</label>
                    <input name="file" id="file" type="file" />

                    <div id="preview" class="img">

                    </div>

                    <div>
                        <p>Imagen procesada</p>
                        <img width="220" height="220" id="imgproc" src="" alt="Red dot" />
                    </div>

                    <p style="font-size:10px">
                        Límite de número de archivos:1&nbsp;Límite de tamaño del archivo individual: 10MB&nbsp;Tipos de archivo permitidos: Imagen,Vídeo
                    </p>

                    <p style="font-size:15px">
                        <br />
                    </p>



                    <input type="submit" id="UploadFile" value="Enviar" />
                    <!--<input type="button" onclick="Upload($('#UploadFile'));" />-->


                </div>
            </form>


        </div>
            </div>

</div>

<script>




            var result = [];

            //$(function () {

           // });


    function getval(val) {
        //alert(val);
        //window.location.href = "/Enrol/refreshInstal?id=" + val;

        fetch("@Url.Content("~/Enrol/GetPersonDetails")" + "?Id=" + val)
        .then(function (result) {
            if (result.ok) {
                return result.json();

            }
        })
            .then(function (data) {
                console.log(data);
                cbo = document.getElementById("instalacion");
                cbo.innerHTML = "";
                data.forEach(function (element) {
                    let opt = document.createElement("option");
                    opt.appendChild(document.createTextNode(element.descripcion));
                    opt.value = element.codigo;
                    cbo.appendChild(opt);
                });
            })
    }

    $("instalacion1").change(function () {

        console.log("prueba");

               var  value = $("#Id").val();
               //$.get(URL,data,function(data,status,xhr),dataType)
               $.ajax({
            url: url2,
            type: 'POST',
            data: {
                Content: contentFull
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                CustomAlert.render(XMLHttpRequest);
                CustomAlert.render(textStatus);
                CustomAlert.render(errorThrown);
                CustomAlert.render("Error while posting SendResult");
            },
            success: function (result) {CustomAlert.render("Yey?");
            }

        });
            });

            $('#registrar').on('click', myFunction);

            function myFunction() {

                alert('hello');
                //console.log("Registrando");

                //document.getElementById("demo").innerHTML = "Hello Dear Visitor!</br> We are happy that you've chosen our website to learn programming languages. We're sure you'll become one of the best programmers in your country. Good luck to you!";
                //console.log("Registrando");

            };


            $(function () {
                $("#formuploadajax").on("submit", function (e) {
                    e.preventDefault();
                    var f = $(this);
                    //var formData = new FormData(document.getElementById("formuploadajax"));
                    //formData.append("file", $(this)[1].files[0]);

                    //var formData = new FormData(document.getElementById("formuploadajax"));
                    var formData = new FormData(this);
                    //formData.append("file", file);

                    //var data = new FormData();
                    //jQuery.each(jQuery('#file')[0].files, function (i, file) {
                    //    data.append('file-' + i, file);
                    //});

                    console.log("Enviando imagen01");
                    //formData.append(f.attr("name"), $(this)[0].files[0]);



                    $.ajax({
                        url: "https://bio01.qaingenieros.com/api/img",

                        type: "POST",

                        method: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false
                    })
                        .done(function (res) {
                            $("#mensaje").html("Respuesta: " + res);
                            var base64 = "data:image/png;base64," + res.image;
                            console.log(base64);
                            $("#imgproc").attr("src", base64);
                        });
                });
            });

            $("#form1").submit(function () {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("https://bio01.qaingenieros.com/api/img", "Device")',
                    dataType: "json",
                    data:{
                        topic: "SubscribeTest",
                        msg: jsonMsg
                    },
                    async: false,
                    success: function(data) {
                        var jsonPretty = "<pre>" + jsonMsg + "</pre>";
                        $('#mqtt_send').html(
                            jsonPretty
                        )
                    },
                    error: function() {
                        console.log("Error adding new user");
                    }
                });

                var jqxhr = $.post('api/updates/complex', $('#form1').serialize())
                    .success(function () {
                        var loc = jqxhr.getResponseHeader('Location');
                        var a = $('<a/>', { href: loc, text: loc });
                        $('#message').html(a);
                    })
                    .error(function () {
                        $('#message').html("Error posting the update.");
                    });
                return false;
            });


        document.getElementById("file").onchange = function (e) {
        let reader = new FileReader();

        reader.onload = function () {
            let preview = document.getElementById('preview'),
                image = document.createElement('img');

            image.src = reader.result;

            preview.innerHTML = '';
            preview.append(image);
        };

        reader.readAsDataURL(e.target.files[0]);
    }



</script>

